.first-div{
    width: 100px;
    height: 100px;
    background-color: chocolate;
    animation-name: coder;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

@keyframes coder{
    0% {
        background-color: chocolate;
        left: 0px;
    }
    25%{
        background-color: rgb(74, 206, 96);
        left: 200px;
        top: 0px;
        border-radius: 20px;
    }
    50%{
        background-color: rgb(51, 61, 194);
        left: 200px;
        top: 200px;
        border-radius: 0px;
    }
    75%{
        background-color: rgb(207, 44, 199);
        left: 0px;
        top: 200px;
        border-radius: 20px;
    }
    100%{
        background-color: rgb(211, 46, 46);
        left: 500px;
        top: 300px;
    }
}